* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
//variablr colors
:root {
    --grey-color: #F9F9F9;
    --green-color: #9BFF99;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-color: #FF8979;
    --yellow-color: #FFFF99;
    --border-color: #d9d9d9;
    --border-b-color:  rgba(0, 0, 0, 0.05);
    --button-black-color: #211f1f;
    --button-transotion: all 0.4s ease 0s, transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}
//default
.row {
    margin: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--border-color);
    font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--border-color);
    font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--border-color);
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--border-color);
    font-weight: 300;
}
//width
.w100 {
    width: 100%;
}
//height
.mh50 {
    min-height: 50px;
}
//border
.border-b {
    border-bottom: 1px var(--border-b-color) solid;
}
//back-color 
.bg-grey {
    background-color: var(--grey-color);
}
.bg-black {
    background-color: var(--black-color);
}
//text
///text size
.text-small {
    font-size: .75em;
}
///word-break
.wd-br {
    word-wrap: break-word;
}
///font-weight
.fw600  {
    font-weight: 600;
}
.fw700  {
    font-weight: 700;
}
//button
.tsib-btn {
    color: var(--white-color);
    background-color: var(--button-black-color);
    border: 4px solid transparent;
    text-transform: capitalize;
    transition: var(--button-transotion);
    cursor: pointer;

    &:hover {
        color: var(--button-black-color);
        background-color: var(--white-color);
        border: 4px solid var(--button-black-color);
    }

    //prev button 
    &.prev {
        color: var(--border-color);
        background-color: var(--grey-color);

        &.first-page {

            &:hover {
                color: var(--border-color);
                background-color: var(--grey-color);
                border: 4px solid transparent;
            }
        }
    }
}
//video card
.v-card {
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
    .v-details {
        background-color: var(--grey-color);
    }
    &:hover {
        text-decoration: none;
        color: var(--black-color);
        .v-details {
            background-color: var(--green-color);
        }
    }
}
.recent-search-card {
    padding:1em;
    background-color: var(--grey-color);
    cursor: pointer;

    &:hover {
        background-color: var(--green-color);
    }
}
//contents
#contents {
    .search {
        margin-bottom: 4em;
        
        .header-title {
            padding: 1.5em 0 1em;
            font-size:3em;
            font-weight: 700;
        }
    }
    .search-input {
        text-indent: 25px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--border-color);
        }
        &:active, &:focus {
            background-color: var(--yellow-color);
        }
    }
}