<template>
  <div>
    <div class="row search">
      <h1 class="col-12 header-title">The amazing YouTube search</h1>
      <div class="col-12 px-0">
        <input class="w100 mh50 bg-grey search-input" v-model="search" @click="clearSearch()" type="text" placeholder="What are you looking for?">
      </div>
      <div class="col-12 px-0">
        <button class="tsib-btn w100 mh50" @click="searchVideo()">search</button>
      </div>
    </div>

    <video-group class="mb-5" :videos="videos"/>

    <related-videos :rvideos="rvideos"/>

    <div class="row mb-5">
      <h4 class="col-12 px-0 fw700">Recent searches</h4>
      <ul class="col-12 px-0">
          <li class="recent-search-card my-2" v-for="(r,index) in recentSearch" :key="index" v-text="r" @click="recentSearchClick(r)"></li>
      </ul>
    </div>

  </div>
</template>

<script>
import Search from './Search'
import Related from './Related'
import VideoGroup from './video/VideoGroup'
import RelatedVideos from './video/RelatedVideos'

export default {
  name: 'Contents',
  data () {
    return {
      search: 'the space in between',
      videos: [],
      recentSearch: [],
      rvideos: [],
      relateVideoId: ''
    }
  },
  methods: {
    clearSearch() {
      this.search = ''
    },
    searchVideo() {

      if( this.recentSearch.length > 4) {

        this.recentSearch = this.recentSearch.slice(1)
      }
      this.recentSearch.push(this.search)
        Search({
          apiKey: 'AIzaSyDMEgyECScLdhmGq-YcNFFQ2HFawNstPCw',
          term: this.search
        }, response => {
          this.videos = response
          this.relateVideoId = response[0].id.videoId
          this.getRelatedVideos() 
        })    
    },
    getRelatedVideos() {
      // console.log(this.videos)
      Related({
        apiKey: 'AIzaSyDMEgyECScLdhmGq-YcNFFQ2HFawNstPCw',
        id: this.relateVideoId
      },response => this.rvideos = response)
    },
    recentSearchClick(txt) {
      this.search = txt
      this.searchVideo();
    }
  },
  components: {Search,VideoGroup,Related,RelatedVideos},
  mounted() {
    this.searchVideo()
  }
}
</script>