<template>
<a class="row my-2 v-card" :href="videoLink" target="_blank">
    <div class="col-5 px-0">
        <img class="w100" :src="image" alt="">
    </div>
    <div class="col-7 px-0 d-flex align-items-center v-details">
        <p class="mb-0 pl-3">{{title}}</p>
    </div>
</a>    

</template>

<script>
    export default {
        props: ['rvideo'],
        computed: {
            image() {
                return this.rvideo.snippet.thumbnails.high.url
            },
            title() {
                return this.rvideo.snippet.title
            },
            videoLink() {
                return 'https://www.youtube.com/watch?v='+ this.rvideo.id.videoId;
            }
        },
    }
</script>