<template>
    <div class="row mb-5">
      <h4 class="col-12 px-0 fw700">Stuff you may like</h4>
      <div class="col-12 px-0">
          <related-video-list :rvideo="rvideo" v-for="(rvideo,index) in rvideos" :key="index"/>
      </div>
    </div>
</template>

<script>
    import RelatedVideoList from './RelatedVideoList'

    export default {
        props: ['rvideos'],
        components: {
            RelatedVideoList
        },
    }
</script>