<template>
    <a class="row v-card mb-4" :href="videoLink" target="_blank">
        <div class="col-12 px-0">
            <img class="w100" :src="image" :alt="title">
        </div>
        <div class="col-12 px-2 v-details">
            <p class="fw600 my-4">{{title}}</p>
            <p class="text-small my-4 wd-br">{{description}}</p>
        </div>
    </a>
</template>

<script>
    export default {
        props: ['video'],
        computed: {
            image() {
                return this.video.snippet.thumbnails.high.url
            },
            title() {
                return this.video.snippet.title
            },
            description() {
                return this.video.snippet.description
            },
            videoLink() {
                return 'https://www.youtube.com/watch?v='+ this.video.id.videoId;
            }
        },
        mounted() {
            
        }
    }
</script>