<template>
<div class="row">
    <h4 class="col-12 px-0 fw700">Your search results</h4>
    <video-list class="col-12 px-0 mb-5" :video="video" v-for="(video, index) in videos" :key="index"></video-list>
    <div class="col-12 px-0">
        <div class="row mh50">
            <button class="col d-flex justify-content-center align-items-center tsib-btn prev first-page" disabled>
                <span>Prev</span>
            </button>
            <button class="col d-flex justify-content-center align-items-center tsib-btn">
                <span>Next</span>
            </button>
        </div>
    </div>
</div>
</template>

<script>
    import VideoList from './VideoList'
    export default {
        props:['videos'],
        components: {
            VideoList
        }
    }
</script>