<template>
<div> 
  <div class="row border-b">
    <div class="col-9 px-4 py-4">
      <img src="./assets/logo-black.svg" alt="TSIB logo">
    </div>
  </div>
  <div id="app" class="px-2">
    <Contents id="contents"/>
    <SideBar/>
    <Pagination/>
  </div>
</div>
</template>

<script>
import Contents from './components/Contents'
import SideBar from './components/SideBar'
import Pagination from './components/Pagination'
import axios from 'axios'

export default {
  name: 'App',
  data() {
    return {
    }
  },
  components: {
    Contents,
    SideBar,
    Pagination
  },
  methods: {
    
  },
  created() {
    
  },
  mounted() {

  }
}

</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './sass/custom';
</style>